#sidebar {
    width: 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #333;
    box-shadow: -4px 0 8px 8px #cacacaa0;
    z-index:10;
    outline: 1px solid #c9c9c9;
    color: white;
}

#sidebar.open {
    width: 200px;
} 

#sidebar:not(.open) .etichetta {
    display: none;
}

ul ul li {
    display: none;
}

ul li.active li {
    display: block;
}

li.submenu {
    cursor: pointer;
}

li.submenu li {
    cursor: default;
}

li span {
    width: 32px;
    text-align: center;
    display: inline-block;
}